<main id="main">
    <div class="Container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/transaction" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-angle-double-left"></i> All Transaction </span>
                 </a>
            </div>
            
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Send Money</h2>
            <span class="Text-light">fill the form to send Money</span>
        </div>
    </div>