<!--Form Handling-->
<form action="/api/transactions" method="POST" id="update_transactions"> 
    <div class="new_transaction">
        <div class="form-group">
            <label for="name" class="Text-light">from</label>
            <input type="text" name="from" value="" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="name" class="Text-light">To  </label>
            <input type="text" name="to" value="" placeholder="Racepient">
        </div>
        <div class="form-group">
            <label for="number" class="Text-light">Amount</label>
            <input type="text" name="Amount" value="" placeholder="Amount">
        </div>
        <div class="form-group">
            <button type="submit" class="btn Text-dark update">Send</button>
        </div>
    </div>
    </form>
</main>