<main id="main">
    <div class="Container">
        <div class="box-nav d-flex justify-between">
            <a href="/send" class="border-shadow">
               <span class="text-gradient"> Send Money <i class="fas fa-dollar-sign"></i></span>
            </a>
        </div>
    </div>