<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container mt-4">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/transaction" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-angle-double-left"></i> All Transaction </span>
                 </a>
            </div>
            
        </div>
    </div>
    <div class="container mt-4"> 
        <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/Tfy1QEkNqQSVYeJcml" width="100%" height="auto" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>